.campo-digitacao {
	font-size: 20px;
	height: 130px;
	border: 3px solid black;
}

.campo-digitacao:disabled {
	background-color: lightgray;
}

.frase {
	font-size: 20px;
	text-align: left;
}

.icone {
	vertical-align: middle;
}

.campo-correto {
	border: 3px solid green;
}

.campo-errado {
	border: 3px solid red;
}

.invisivel {
	display: none;
}

#erro {
	color: red;
	display: none;
}

#spinner {
	display: none;
}

#frase-id {
	width: 40px;
}